<?xml version="1.0"?>
<launch>
    <!-- Load Paramters file -->
    <rosparam command="load" file="$(find double_pendulum)/config/pendulum.yaml" />

    <!--Joint State Publisher -->
    <node name="pendulum_sim" pkg="double_pendulum" type="simulation.py" output="screen"> </node>
    <node name="pendulum_control" pkg="double_pendulum" type="control.py" output="screen"> </node>

        <!-- Plots -->
        <arg name="plots_config" default="$(find double_pendulum)/plotJuggler/plots.xml"/>
        <node pkg="plotjuggler" type="plotjuggler" name="plotjuggler" args="-l $(arg plots_config)"/>
</launch>